# Python
__pycache__/
*.pyc 

#Virtual environment
env/
.venv/
venv/

#Jupyter
.ipynb_checkpoints/

# Data Files
data/

#Trained models
models/

#FAISS indexes
*.index

#OS
.DS_Store
Thumbs.db

#Vscode
.vscode/
